#logo-name {
    color: orangered;
    margin: 0 5px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.main-section {
    position: relative;
}

.Custom_Search_Items {

    top: 7rem;
    margin: auto;
}

.Items_Details_Form {
    top: 17rem;
    margin: auto;

}